/*
Hide Crayon Syntax Highlighter "crayon" button in
HTML "Text" area for WordPress Editor
*/

#qt_content_crayon_quicktag {
    display: none;
}

/* Remove background image for TinyMCE */
button.mce_crayon_tinymce {
    background: none !important;
    margin-right: -17px !important;
}

button.mce_crayon_tinymce::before {
    content: 'Crayon';
}

button.mce_crayon_tinymce i.mce-i-crayon_tinymce {
    visibility: hidden !important;
}

